command /setbal <player> <number>:
	trigger:
		execute player command "/eco set %arg-1% %arg-2%"

#--------------------------------------------------------------------------------------------------
command /setbalance <player> <number>:
	trigger:
		execute player command "/eco set %arg-1% %arg-2%"
#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
command /givebal <player> <number>:
	trigger:
		execute player command "/eco give %arg-1% %arg-2%"
#--------------------------------------------------------------------------------------------------
command /givebalance <player> <number>:
	trigger:
		execute player command "/eco give %arg-1% %arg-2%"
#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
command /resetbal <player>:
	trigger:
		execute player command "/eco reset %arg-1%"
#---------------------------------------------------------------------------------------------------
command /resetbalance <player>:
	trigger:
		execute player command "/eco reset %arg-1%"
#---------------------------------------------------------------------------------------------------
#---------------------------------------------------------------------------------------------------
command /takebal <player> <number>:
	trigger:
		execute player command "/eco take %arg-1% %arg-2%"
#---------------------------------------------------------------------------------------------------
command /takebalance <player> <number>:
	trigger:
		execute player command "/eco take %arg-1% %arg-2%"
